.row {
    margin-left: 4%;
    color: white;
}

.row__title {
    font-size: 1.5rem;
    margin-bottom: 15px;
    font-weight: 600;
}

.row__posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px 0;
    gap: 10px;
}

/* Specific spacing for hover effect */
.row__posters>div {
    flex: 0 0 auto;
    width: 200px;
    /* Base width for standard posters */
}

.row:has(.movieCard__large) .row__posters>div {
    width: 180px;
    /* Base width for large posters */
}