.hero {
    color: white;
    height: 80vh;
    position: relative;
    overflow: hidden;
    background-color: #111;
}

.hero__image,
.hero__videoContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.hero__image {
    background-size: cover;
    background-position: center center;
}

.hero__videoContainer {
    background-color: black;
}

.hero__video {
    width: 100%;
    height: 100%;
    pointer-events: none;
    transform: scale(1.3);
    /* Zoom in to hide black bars */
}

.hero__contents {
    position: relative;
    z-index: 1;
    margin-left: 4%;
    padding-top: 15vh;
    height: 100%;
}

.hero__title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}

.hero__description {
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 0.8rem;
    max-width: 360px;
    height: 80px;
}

.hero__buttons {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.hero__button {
    padding: 0.6rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.2s;
}

.hero__button svg {
    width: 20px;
    height: 20px;
}

.hero__button.play {
    background-color: white;
    color: black;
}

.hero__button.play:hover {
    background-color: rgba(255, 255, 255, 0.75);
}

.hero__button.info {
    background-color: rgba(109, 109, 110, 0.7);
    color: white;
}

.hero__button.info:hover {
    background-color: rgba(109, 109, 110, 0.4);
}

.hero__mute {
    background-color: rgba(109, 109, 110, 0.7);
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
}

.hero__mute:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.hero__mute svg {
    width: 20px;
    height: 20px;
}

.hero--fadeBottom {
    height: 7.4rem;
    background-image: linear-gradient(180deg,
            transparent,
            rgba(37, 37, 37, 0.61),
            #111);
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media (max-width: 768px) {
    .hero__title {
        font-size: 2rem;
    }

    .hero__description {
        width: 100%;
        font-size: 0.7rem;
    }
}