.movieCard {
    width: 100%;
    position: relative;
    transition: transform 0.45s;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 4px;
}

.movieCard:hover {
    transform: scale(1.4);
    z-index: 10;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.75);
}

.movieCard__poster {
    width: 100%;
    object-fit: contain;
    max-height: 100px;
    border-radius: 4px;
}

.movieCard__large .movieCard__poster {
    max-height: 250px;
}

.movieCard__large:hover {
    transform: scale(1.1);
}

.movieCard__info {
    display: none;
    background-color: #181818;
    padding: 10px;
    position: absolute;
    top: 95%;
    width: 100%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    animation: fadeIn 0.3s forwards;
}

.movieCard:hover .movieCard__info {
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.movieCard__icons {
    display: flex;
    gap: 8px;
    margin-bottom: 10px;
}

.movieCard__iconCircle {
    width: 25px;
    height: 25px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
}

.movieCard__iconCircle svg {
    width: 14px;
    height: 14px;
}

.movieCard__iconCircle:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.movieCard__iconCircle.play {
    background-color: white;
    color: black;
    border: none;
}

.movieCard__iconCircle.dropdown {
    margin-left: auto;
}

.movieCard__details {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 10px;
    margin-bottom: 5px;
}

.movieCard__match {
    color: #46d369;
    font-weight: bold;
}

.movieCard__rating {
    border: 1px solid rgba(255, 255, 255, 0.4);
    padding: 0 4px;
}

.movieCard__genres {
    display: flex;
    gap: 5px;
    font-size: 8px;
}

.movieCard__genres .dot {
    color: #808080;
}